02-1 숫자형

In [1]:
a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

02-2 문자열 자료형

In [1]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [2]:
a = "Life is too short"
len(a)

17

In [4]:
a = "Life is too short, You need Python"
print(a[0])
print(a[12])
print(a[-1])
print(a[-33])

L
s
n
i

In [5]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

In [ ]:
a = "Life is too short, You need Python"
b = a[0:4] # 0 이상 4 미만
c = a[::2] # 처음부터 끝까지 2칸 간격으로
d = a[::-1] # 이상 : 미만 : 간격
e = a[::-2]
print(b)
print(c)
print(d)
print(e)

Life
Lf stosot o edPto
nohtyP deen uoY ,trohs oot si efiL
nhy enuY,rh o iei

In [18]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20230331
Rainy

In [19]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2023
0331
Rainy

문자열 포매팅

In [ ]:
a = "I eat %d apples." % 3
print(a)

I eat 3 apples.

In [21]:
a = "I eat %s apples." % "five"
print(a)

I eat five apples.

In [22]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [28]:
number = 10
day = "three"
a = "I ate %d apples. so I was sick for %s days." % (number, day)
a

'I ate 10 apples. so I was sick for three days.'

In [30]:
a = "I have %s apples" % 3
a

'I have 3 apples'

In [31]:
b = "rate is %s" % 3.234
b

'rate is 3.234'

In [ ]:
a = "%0.4f" % 3.42134234
# 소수점 4째자리까지 표시
a

'3.4213'

In [34]:
a = "I eat {0} apples".format(3)
a

'I eat 3 apples'

In [35]:
number = 10
day = "three"
a = "I ate {0} apples. so I was sick for {1} days.".format(number, day)
a

'I ate 10 apples. so I was sick for three days.'

In [39]:
del print
a = "{0:<10}".format("hi")
b = "{0:>10}".format("hi")
c = "{0:^10}".format("hi")
print(a)
print(b)
print(c)

hi
        hi
    hi

f 문자열 포매팅

In [41]:
name = '홍길동'
age = 30
a = f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
print(a)

나의 이름은 홍길동입니다. 나이는 30입니다.

In [42]:
age = 30
a = f'나는 내년이면 {age + 1}살이 된다.'
print(a)

나는 내년이면 31살이 된다.

In [43]:
y = 3.42134234
a = f'{y:0.4f}'  # 소수점 4자리까지만 표현
b = f'{y:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
print(a)
print(b)

3.4213
    3.4213

문자열 관련 함수들

In [ ]:
a = "hobby"
print(a.count('b')) #b의 개수 -> Method

2

In [47]:
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))

14
-1

In [48]:
a = "Life is too short"
print(a.index('t'))
print(a.index('k'))

8

ValueError: substring not found

문자열 삽입 - join

In [53]:
a = " to the ".join('abcd')
print(a)

a to the b to the c to the d

소문자를 대문자로 바꾸기 -upper

In [2]:
a = "hi"
print(a.upper())

HI

공백 지우기

In [5]:
a = " hi "
print(a.lstrip())
print(a.rstrip())
print(a.strip())

hi
 hi
hi

문자열 바꾸기 - replace

In [6]:
a = "Life is too short"
print(a.replace("Life", "Your leg"))

Your leg is too short

문자열 나누기-split

In [8]:
a = "Life is too short"
print(a.split())

['Life', 'is', 'too', 'short']

In [11]:
b = "a:b:c:d"
print(b.split(":"))

['a', 'b', 'c', 'd']

02-3 리스트 자료형