02-4 튜플 자료형

In [ ]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))
print(type(t1))

<class 'tuple'>

튜플 요솟값을 삭제하려 할 때

In [2]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

튜플 요소값을 변경하려 할 때

In [1]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

인덱싱하기

In [3]:
t1 = (1, 2, 'a', 'b')
print(t1[0])
print(t1[3])

1
b

슬라이싱하기

In [4]:
t1 = (1, 2, 'a', 'b')
print(t1[1:])

(2, 'a', 'b')

튜플 더하기

In [ ]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
print(t3)

(1, 2, 'a', 'b', 3, 4)

튜플 곱하기

In [6]:
t2 = (3, 4)
t3 = t2 * 3
print(t3)

(3, 4, 3, 4, 3, 4)

In [7]:
t1 = (1, 2, 'a', 'b')
len(t1)

4