03-3 for문

1. 전형적인 for 문

In [1]:
test_list = ['one', 'two', 'three'] 
for i in test_list: 
    print(i)

one
two
three

2. 다양한 for 문의 사용

In [2]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

3. for 문의 응용

###### 총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격이다. 합격인지, 불합격인지 결과를 보여 주시오.

In [5]:
marks = [90, 25, 67, 45, 80]   # 학생들의 시험 점수 리스트

number = 0   # 학생에게 붙여 줄 번호
for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

for 문과 continue 문

In [ ]:
marks = [90, 25, 67, 45, 80]   # 학생들의 시험 점수 리스트

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

for 문과 함께 자주 사용하는 range 함수

In [9]:
a = range(10)
print(a)

range(0, 10)

In [ ]:
a = range(1, 11) # 1 이상 11 미만 
print(a)

range(1, 11)

range 함수의 예시 살펴보기

In [14]:
add = 0 
for i in range(1, 11): 
    add = add + i 
    print(add)

1
3
6
10
15
21
28
36
45
55

for와 range를 이용한 구구단

In [18]:
for i in range(2,10):        # 1번 for문
    for j in range(1, 10):   # 2번 for문
        print(i*j, end=" ") 
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

for 문과 break 문

- while 문에서와 마찬가지로 for 문에서도 break 문을 사용할 수 있다. break 문은 for 문을 강제로 빠져나가고 싶을 때 사용한다.

In [24]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

for-else 문

- 파이썬의 for 문에는 else 절을 사용할 수 있다. for-else 문은 for 문이 정상적으로 종료되었을 때(break로 빠져나가지 않았을 때) else 절이 실행된다.

In [22]:
for i in range(5):
    print(i)
else:
    print("for 문이 정상 종료되었습니다.")

0
1
2
3
4
for 문이 정상 종료되었습니다.

- 하지만 break 문으로 for 문을 빠져나가면 else 절은 실행되지 않는다.

In [25]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("for 문이 정상 종료되었습니다.")

0
1
2

enumerate 함수 활용하기

- 리스트의 순서(인덱스)와 값을 함께 구하고 싶을 때는 enumerate 함수를 사용하면 편리하다.

In [27]:
fruits = ['apple', 'banana', 'orange']
for i, fruit in enumerate(fruits, 1):  
    print(f"{i}: {fruit}")

1: apple
2: banana
3: orange

zip 함수로 여러 리스트 함께 순회하기

In [ ]:
names = ['홍길동', '김철수', '이영희']
scores = [85, 92, 78]
for name, score in zip(names, scores):
    print(f"{name}: {score}점")

In [ ]:
names = ['홍길동', '김철수', '이영희']
korean = [85, 92, 78]
english = [90, 88, 95]
for name, kor, eng in zip(names, korean, english):
    print(f"{name}: 국어 {kor}점, 영어 {eng}점")